	.mycontainer{
		display:flex;
		}
	
	.mycontainer > div {
				width:33%;
				height:300px;
				Text-align:center;
				}

	.mycontainer2{
		display:flex;
		}
	
	.mycontainer2 > div {
				width:25%;
				height:300px;
				Text-align:center;
 				border-spacing: 10px;
				}

	.mycontainer3{
		display:flex;
		}
	
	.mycontainer3 > div {
				width:33%;
				height:300px;
				Text-align:center;
				}

	.mycontainer4{
		display:flex;
		}
	
	.mycontainer4 > div {
				width:33%;
				height:125px;
				Text-align:center;
				}

	.mycontainer5{
		display:flex;
		}
	
	.mycontainer5 > div {
				width:33%;
				height:800px;
				Text-align:center;
				}


	.mycontainer6{
		display:flex;
		}
	
	.mycontainer6 > div {
				width:50%;
				height:400px;
				Text-align:center;
				}


	.aliniacion{
		padding:160px;
	 	}

	.aliniacion2{
		padding:60px;
	 	}

	.aliniacion3{
		padding:10px;
	 	}

	.aliniacion4{
		padding:200px;
	 	}

	.aliniacion5{
		padding:50px;
	 	}
	
	.font{
		font-family:Garamond;
		font-size:60;
		Color:#000000;
	}

	.font2{
		font-family:Garamond;
		font-size:60;
		Color:#000000;
	}

	.mycontainer7{
		font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
		color: #ffffff; 
		font-size: 18px; 
		font-weight: 400; 
		text-align: center; 
		background: #889ccf; 
		margin: 0 0 25px; 
		overflow: hidden; 
		padding: 20px; 
		border-radius: 35px 0px 35px 0px; 
		-moz-border-radius: 35px 0px 35px 0px; 
		-webkit-border-radius: 35px 0px 35px 0px; 
		border: 2px solid #5878ca;	
	}

	.mycontainer8{
		font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
		color: #ffffff; 
		font-size: 18px; 
		font-weight: 400; 
		text-align: center; 
		background: #66E9C6; 
		margin: 0 0 25px; 
		overflow: hidden; 
		padding: 20px; 
		width:70%;
		border-radius: 35px 0px 35px 0px; 
		-moz-border-radius: 35px 0px 35px 0px; 
		-webkit-border-radius: 35px 0px 35px 0px; 
		border: 5px solid #5878ca;	
	}


